{% extends 'bashboard/base.html.twig' %}

{% block title %}Ajout {% endblock %}

{% block body %}
  <div class="card">
    <div class="card-title">
      <h4>Liste des autorisations </h4>
    </div>
    <div class="card-body">
      {% for message in app.flashes('notice') %}
        <div class="alert alert-info flash-notice" role="alert">
          {{ message }}
        </div>
      {% endfor %}
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Du</th>
            <th>Nombre de jours</th>
            <th>Date de la demande</th>
            <th>Statut</th>
            {% if not is_granted('ROLE_ADMIN') %}
              <th style="text-align: center;">Action</th>
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% for l in list %}
            <tr>
              <td>{{ l.startDate | date('d-m-Y') }}</td>
              <td>{{ autorisation[l.hours] }}</td>
              <td>{{ l.createdAt |date('d-m-Y') }}</td>
              <td>
                {% if l.status == 1 %}
                  <span class="badge badge-success">
                      Validé
                  </span>
                {% elseif l.status == -1 %}
                  <span class="badge badge-danger">
                  Rejetée
                </span>
                {% else %}
                  <span class="badge badge-primary">
                      encours
                        </span>
                {% endif %}
              </td>

              {% if not is_granted('ROLE_ADMIN') %}
                <td>

                  {% if l.validateBy is null %}
                    <a href="{{ path('update_autorisation_request', { 'id': l.id }) }}"
                       class="btn btn-info"
                    >Modifier</a>
                    <a href="{{ path('autorisation_cancel_request', { 'id': l.id }) }}"
                       class="btn btn-red"
                       onclick="return confirm('Êtes-vous sûr?')">Annuler</a>
                  {% else %}
                    -
                  {% endif %}

                </td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
          {{ knp_pagination_render(list) }}
      </div>
    </div>
  </div>
{% endblock %}
